.about-container {
    position: relative;
    height: fit-content;
    min-height: 100vh;
    padding-top: 7.5vh;
}
.text-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title { 
    max-width: 90%;
    margin: 0 auto;
}
.paragraph-container span {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-weight: 500;
    font-size: 1.7em;
    line-height: 1.5em;
    letter-spacing: 2px;
}
.paragraph-container {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 2em;
    text-align: center;
}
@media screen and (max-width:1024px) {
    .title {
        padding-top: unset;
    }
    .paragraph-container {
        max-width: 90%;
    }
    span {
        font-size: 1.5em;
    }
    h1 {
        font-size: 3.5em;
    }
}
@media screen and (max-width:525px) {
    span {
        font-size: 0.6rem;
    }
    h1 {
        font-size: 3rem;
    }
}