.contact-container {
    position: relative;
    /* margin-top: -2.5vh; */
    height: fit-content;
    min-height: 100vh;
}
.text {
    color: #fff;
}
.form h1 {
    width: 100%;
}
.form p {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    text-align: center;
}
#my-form {
    padding-top: 10%;
}
.form {
    width: 100%;
    max-width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
}
.form-group.first, .form-group.last {
    width: 50%;
    display: table-cell;
}
.form-group.last {
    padding-left: 5%;
}
.form-group {
    width: 100%;
    margin-top: 1rem;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgba(120, 120, 120, 0.3);
    margin-top: 0.2rem;
}
.form-group.first input {
    width: 95%;
}
textarea {
    resize: vertical;
}
.button-container {
    padding-top: 1vh;
    display: flex;
    justify-content: center;
}
.button-container button {
    text-transform: uppercase;
    padding:0.3em 1.2em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    font-size: 1rem;
    font-weight:300;
    background-color: #fff;
    transition: all 0.2s;
}
.button-container button:hover {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.button-container button:hover > span {
    background: linear-gradient(112deg, #005eff 0,#2856a5 30%,#853f8a 51%,#ff0050 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.4s ease-in-out;
}
@media screen and (max-width:1024px) {
    .contact-container {
        position: unset;
        margin-top: unset;
        display: flex;
        justify-content: center;
        min-height: unset;
        padding-top: 1rem;
    }
    .form {
        position: relative;
        left: unset;
        top: unset;
        transform: unset;
        display: unset;
    }
    .button-container button {
        text-transform: uppercase;
        padding:0.3em 1.2em;
        border:0.16em solid rgba(255,255,255,0);
        border-radius:2em;
        font-size: 1rem;
        font-weight:300;
        background-color: #fff;
        transition: all 0.2s;
    }
    .button-container button > span {
        background: linear-gradient(112deg, #005eff 0,#2856a5 30%,#853f8a 51%,#ff0050 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media screen and (max-width:525px) {
    .form {
        padding: 1rem;
    }
}