.contact-container {
    position: relative;
    /* margin-top: -2.5vh; */
    height: fit-content;
    min-height: 100vh;
}
.text {
    color: #fff;
}
.form h1 {
    width: 100%;
}
.form p {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    text-align: center;
}
#my-form {
    padding-top: 10%;
}
.form {
    width: 100%;
    /* max-width: fit-content; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
}
.form-group.first, .form-group.last {
    width: 50%;
    display: table-cell;
}
.form-group.last {
    padding-left: 5%;
}
.form-group {
    width: 100%;
    margin-top: 1rem;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgba(120, 120, 120, 0.3);
    margin-top: 0.2rem;
}
.form-group.first input {
    width: 95%;
}
textarea {
    resize: vertical;
}
.button-container {
    display: flex;
    justify-content: center;
}
.button-container button {
    width: 30%;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    margin-top: 0.5rem;
    background-color: rgba(160, 160, 160, 0.2);
    transition: background-color 0.3s ease-in-out;
}
.button-container button:hover {
    background-color: rgba(90, 90, 90, 0.2);
}
@media screen and (max-width:525px) {
    .form {
        padding: 1rem;
    }
}