* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
html {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
body {
    background: #111;
}
::-webkit-scrollbar {
    display: none;
}