* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
html {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
body {
    background: #111;
    /* color: #232320; */
    /* background: #191919; */
}
::-webkit-scrollbar {
    display: none;
}
a {
    color: #fff;
}
i {
    font-size: 1.3rem;
}
.link {
    display: inline-flex;
}
.link:nth-child(1) {
    padding-right: 1rem;
}